@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
  .feature {
    width: 100%;
  }
  .testimonial-box {
    width: 100%;
  }
  .section-features {
    margin: 0 2rem;
  }
}
@media (max-width: 860px) {
  html {
    font-size: 45%;
  }
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-features {
    margin: 0 4rem;
  }
  .testimonial-box {
    width: 100%;
  }
  .hiding {
    display: none;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 634px) {
  html {
    font-size: 35%;
  }
  .grid--3-cols {
    grid-template-columns: repeat(1, 1fr);
  }
  .price-card {
    width: 60%;
  }
  .price-text {
    font-size: 3rem;
  }
  .tour-name {
    font-size: 4rem;
  }
  .section-pricing {
    gap: 8rem;
  }
  .price-card {
    gap: 4rem;
  }
  .pricing-btn {
    font-size: 3rem;
  }
  .testimonial-box {
    width: 85%;
  }
  .customer-image {
    width: 12%;
  }
  .testimonial {
    padding-left: 6rem;
  }
  .section-testimonials {
    gap: 10rem;
  }
  .testimonial-heading {
    font-size: 6rem;
  }
  .testimonial-box {
    font-size: 2.5rem;
  }
  .booking-box {
    width: 100%;
  }
}
@media (max-width: 546px) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 435px) {
  html {
    font-size: 22%;
  }
  .gridtoone {
    grid-template-columns: 1fr;
  }
  .feature {
    width: 70%;
    justify-self: center;
    align-self: center;
  }
  .icon {
    height: 14rem;
    width: 14rem;
  }
  .heading-secondary {
    font-size: 6rem;
  }
  .feature-text {
    font-size: 4rem;
    padding: 5rem 0;
  }
  .grid-gap {
    gap: 15rem;
  }
  .heading-trust {
    font-size: 5rem;
    margin-bottom: 8rem;
  }
  .heading-primary {
    font-size: 8rem;
    margin-bottom: 12rem;
  }
  .btn {
    font-size: 4rem;
    padding: 2.5rem;
    border-radius: 3rem;
  }
  .herotext {
    text-align: center;
    font-size: 6rem;
    margin-bottom: 15rem;
  }
  .trust-icon {
    width: 18rem;
  }
  .price-card {
    width: 75%;
  }
  .tour-name {
    font-size: 6rem;
  }
  .price-text {
    font-size: 4rem;
  }
  .pricing-btn {
    font-size: 4rem;
    margin-bottom: 6rem;
    padding: 2rem 3rem;
  }
  .testimonial-heading {
    font-size: 8rem;
  }
  .testimonial-box {
    font-size: 3.5rem;
    justify-self: center;
    align-self: center;
  }
  .booking-box {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9)
      ),
      url(img/testimonial-background.jpg);
    width: 90%;
    padding: 8rem;
    border: 2px solid #ccc;
  }
  .booking-form {
    width: 100%;
  }
  input,
  select {
    padding: 3rem;
    font-size: 3.5rem;
    letter-spacing: 1px;
    outline: none;
    border: none;
    color: rgb(112, 111, 111);
  }
  .booking-form {
    gap: 8rem;
    margin-bottom: 8rem;
  }
  .margin-btm {
    margin-bottom: 10rem;
  }
  .heading-booking {
    font-size: 8rem;
  }
  .booking-btn {
    font-size: 3.5rem;
    padding: 3rem;
    border-radius: 2rem;
  }
  .footer-info {
    flex-direction: column;
    gap: 15rem;
    justify-content: center;
    align-items: center;
  }
  .bottom-logo {
    width: 18rem;
  }
  .about {
    width: inherit;
  }
  .footer {
    font-size: 3rem;
  }
}
